@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
	overflow-y:scroll;
	min-height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
	@apply text-3xl font-bold text-gray-600 mb-6;
}

p {
	@apply mt-8;
}

.button {
	@apply rounded-lg text-gray-800 font-bold px-4 py-2 m-2;
	@apply hover:bg-gray-200;
	@apply transition-all;
}

.page {
	@apply max-w-4xl mx-auto mt-8;
}